---
title: Blog
subtitle: Notes to myself
layout: default
---
          <h1 class="my-4">{{ page.title }}
            <small>{{ page.subtitle }}</small>
          </h1>
{% for post in paginator.posts %}
          <!-- Blog Post -->
          <div class="card mb-4">
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">{{ post.title }}</h2>
              <p class="card-text">{{ post.excerpt }}</p>
              <a href="{{ post.url }}" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on {{ post.date | date: "%b %-d, %Y" }}
            </div>
          </div>
{% endfor %}
          <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4">
  {% if paginator.previous_page %}
            <li class="page-item">
              <a class="page-link" href="{{ paginator.previous_page_path }}">&larr; Older</a>
            </li>
  {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">&larr; Older</a>
            </li>
  {% endif %}
  {% if paginator.next_page %}
            <li class="page-item">
              <a class="page-link" href="{{ paginator.next_page_path }}">Newer &rarr;</a>
            </li>
  {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">Newer &rarr;</a>
            </li>
  {% endif %}
          </ul>
